.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
h2.page-title {
  color: rgb(228, 228, 228);
  font-weight: bold;
  font-size: 2rem;
}
