.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
input {
  border-radius: 0;
  border: 2px solid black;
  padding: 12px 22px;
  outline: none;
  margin-right: 1rem;
  color: black;
  font-weight: bold;
  &::placeholder {
    color: black;
    font-weight: 400;
    font-size: 13px;
  }
}
.button-container {
  @media only screen and (max-width: 800px) {
    display: flex;
    justify-content: flex-start;
  }
}
button {
  border-radius: 3px;
  background: rgb(48, 48, 48);
  border: none;
  padding: 10px 22px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  margin: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  @media only screen and (max-width: 800px) {
    display: flex;
    justify-content: center;
    padding: 6px 12px;
    font-size: 10px;
  }
  &:active {
    background: black;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  }
}
.screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.add-toggle {
  display: none;
}
